# SPDX-FileCopyrightText: Copyright (C) 2025 Opal Health Informatics Group <https://www.opalmedapps.com>
#
# SPDX-License-Identifier: MIT
---
name: Markdownlint

on:
  workflow_call:
    inputs:
      # Enforce one sentence per line
      # semantic line breaks (https://sembr.org/)
      # See: https://github.com/DavidAnson/markdownlint/pull/719
      semantic-linebreak:
        type: boolean
        default: false
      mkdocs-material-linter:
        type: boolean
        default: false

permissions:
  contents: read

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      # Create config file since extra files are not possible in reusable workflows
      # https://github.com/DavidAnson/markdownlint-cli2#markdownlint-cli2yaml
      # use custom rule for semantic linebreaks contained in supplementary rules image as a workaround
      # more details: https://github.com/DavidAnson/vscode-markdownlint/issues/336
      - name: Create markdownlint config file
        shell: bash
        env:
          SEMANTIC_LINEBREAK: ${{ inputs.semantic-linebreak }}
          MKDOCS_MATERIAL_LINTER: ${{ inputs.mkdocs-material-linter }}
        run: |
            CONFIG_FILE=.github/markdownlint/.markdownlint-cli2.yaml
            mkdir -p .github/markdownlint/
            cat <<EOF > $CONFIG_FILE
            outputFormatters:
              - - markdownlint-cli2-formatter-template
                - template: ::error file=\${fileName},line=\${lineNumber},\${columnNumber:col=\${columnNumber},}title=\${ruleName}::\${ruleDescription}
              - - markdownlint-cli2-formatter-pretty
            EOF

            [[ -n "$SEMANTIC_LINEBREAK" && "$SEMANTIC_LINEBREAK" == "true" ]] && USE_SEMANTIC_LINEBREAK="true" || USE_SEMANTIC_LINEBREAK="false"
            [[ -n "$MKDOCS_MATERIAL_LINTER" && "$MKDOCS_MATERIAL_LINTER" == "true" ]] && USE_MKDOCS_MATERIAL_LINTER="true" || USE_MKDOCS_MATERIAL_LINTER="false"

            if [[ $USE_SEMANTIC_LINEBREAK == true || $USE_MKDOCS_MATERIAL_LINTER == true ]]; then
            echo "customRules:" >> $CONFIG_FILE
            fi

            if [[ $USE_SEMANTIC_LINEBREAK == true ]]; then
            echo '  - "markdownlint-rule-max-one-sentence-per-line"' >> $CONFIG_FILE
            fi

            if [[ $USE_MKDOCS_MATERIAL_LINTER == true ]]; then
            echo '  - "mkdocs-material-linter"' >> $CONFIG_FILE
            fi

      - name: Print config file
        run: cat .github/markdownlint/.markdownlint-cli2.yaml
      - name: Run markdownlint with rules as container
        uses: YannickTeKulve/docker-run-action@37eb44806428df732c5cc168b96f2b6be8153632 # v0.0.6
        continue-on-error: false
        with:
          image: davidanson/markdownlint-cli2-rules:v0.19.1
          # node user does not have permissions to workspace due to user id mismatch
          options: --volume ${{ github.workspace }}:/workdir --user root
          # use the config file that is stored outside the root for CI specific configuration
          run: markdownlint-cli2 --config .github/markdownlint/.markdownlint-cli2.yaml "**/*.md"
